@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 10px;
	color: #FFF;
	background-color:  #f2f2f2;

}

.main-screen {
	height: 90vh;
	position: relative;
	background-image: url(../img/capa-madmax2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-screen:after {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
	content: "";
}

.nav-menu {
	z-index: 2;
}

.nav-menu .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	margin: 0 auto;
	width: 90vw;
	max-width: 960px;
	padding-top: 10px;
}

.navbar-menu {
	display: flex;
	list-style: none;
}

.navbar-menu li a {
	font-weight: 700;
	font-size: 1.3em;
	margin: 0 22px;
	text-decoration: none;
	color: #FFF;
	transition: color 0.2s;
}

.navbar-menu li a:hover {
	color: #E4BB23;
}

.navbar-perfil {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	font-weight: 700;
}

.picture-perfil img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.navbar-perfil h3 {
	margin-left: -25px;
}

.secondary-container {
	z-index: 2;
}

.secondary-container .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.secondary-container-title {
	font-size: 65px;
}

.secondary-container-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.secondary-container-description > p {
	margin: 15px 0 30px;
	display: flex;
}

.secondary-container-description a {
	text-decoration: none;
	font-weight: 400;
}

.secondary-container-description > p > a {
	font-size: 13px;
	margin-right: 15px;
	color: #FFF;
	transition: color 0.2s;
}

.secondary-container-description > p > a:hover {
	color: #E4BB23;
}

.call-to-action {
	display: inline-block;
	position: relative;
	margin-right: auto;
	background-color: #E4BB23;
	padding: 15px 50px;
	color: #000;
	font-size: 1.5em;
	border-radius: 40px;
	transition: all 0.2s;
}

.call-to-action i {
	position: absolute;
	right: 15px;
	top: 12px;
	font-size: 1.5em;
}

.call-to-action:hover {
	background-color: rgb(185, 150, 21);
	
}

.add-info {
	margin-top: 10px;
	padding: 20px 0;
	margin-bottom: 20px;
	font-size: 1.4em;
}

.add-info p:last-child {
	margin: 14px 0;
	color:  #E4BB23;
}

.navbar-secondary {
	width: 98vw;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px 0;
	display: flex;
	justify-content: center;
	list-style: none;
	border-bottom: solid rgb(215, 215, 221) 1px;
}

.navbar-secondary li a {
	text-decoration: none;
	font-size: 1.3em;
	font-weight: 700;
	color: #E4BB23;
	padding-bottom: 23px;
	margin: 0 20px;
	transition: all 0.2s;
}

.navbar-secondary li a:hover {
	border-bottom: solid #E4BB23 1.5px;
}

.list-films {
	background-color:  #f2f2f2;
	color: black;
	width: 90vw;
	max-width: 960px;
	margin: 15px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.film {
	width: 24%;
	background-color: #FFF;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.film  figure{
	position: relative;
	margin: 0;
	width: 100%;
	height: auto;
}

.film  figure img{
	width: 100%;
	height: 100%;
}

.info-poster {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #E4BB23;
	font-size: 1.8em;
	text-align: center;
	visibility: hidden;
}

.film figure:hover > .info-poster {
	visibility: visible;
}

.film-link {
	text-decoration: none;
	color:#FFF;
	font-size: 50px;
	padding-top: 20px;
	transition: color 0.2s;
}

.film-link:hover {
	color:#E4BB23;
}

.info-film {
	background-color: #FFF;
	height: 95px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 10px;
	margin-bottom: 8px;
}

.info-film h1{
	font-size: 1.3em;
	font-weight: 700;
}

.info-film p {
	color: #E4BB23;
	padding-top: 5px;
}

.film-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.film-footer i {
	font-size: 20px;
	color: rgb(188, 193, 207);
	transition: color 0.2s;
}

.film-footer i:hover {
	color: rgb(207, 13, 13);
}

.film-footer p {
	font-size: 20px;
	color: #000;
}

footer {
	width: 100%;
	height: 12.7vh;
	background-color: #FFF;
}

footer .container {
	display: flex;
	padding-top: 31px;
	justify-content: space-between;
	align-items: center;
}

.redes-sociais {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.redes-sociais li a{
	font-size: 25px;
	margin-left: 40px;
	text-decoration: none;
	color: rgb(188, 193, 207);
	transition: color 0.2s;
}

#twitter:hover {
	color: rgb(0, 153, 255);
}

#facebook:hover {
	color: blue;
}

#instagram:hover {
	color: rgb(211, 13, 13);
}